body {
	font-family: "Helvetica Neue",Helvetica,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #4a4a4a;
	background-color: #ffffff;
}

.content {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}

.portlet {
	background-color: #ffffff;
	border-top: 1px dashed #cccccc;
	border-bottom: 1px dashed #cccccc;
	margin-top: 15px;
	padding-bottom: 5px;
}

h1 {
	display: block;
	color: inherit;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;

	border-bottom: solid 3px #eeeeee;
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 5px;
	margin-top: 20px;
	padding-bottom: 8px;
}

p {
	margin: 0 0 10px;
	font-size: 1em;
	line-height: 1.875;
	word-wrap: break-word;
	display: block;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.line {
	border-bottom: solid 1px #eeeeee;
	line-height: 1.225;
	margin-bottom: 5px;
	margin-top: 20px;
}

.btn {
	width: 150px;
	display: inline-block;
	margin-bottom: 0;
	margin-right: 20px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-primary:link {
	color: #ffffff;
	background-color: #59bb0c;
	border-color: #4ea30a;
}

.btn-primary:hover {
	color: #ffffff;
	background-color: #4ea30a;
	border-color: #4ea30a;
}

a {
	color: #337ab7;
	text-decoration: none;
}

.wait {
	width: 30px;
	height: 30px;
	vertical-align:middle;
	display: none;
}


